<div class="track color-{{item.system.track.color}}">
  {{#if item.system.track.showValueBadge}}
    <span class="track-value" data-position="{{item.system.track.badgePosition}}">{{item.system.track.value}}</span>
  {{/if}}
  <div class="track-cells">
    {{#each item.system.track.states as |s i|}}
      <div class="track-cell shape-{{../item.system.track.shape}} state-{{s}}" data-index="{{i}}" aria-label="Track cell {{i}}"></div>
    {{/each}}
  </div>
</div>
